In [3]:
a  = 3 
b = 5 
print(a&b)

1

In [4]:
print(a^b)

6

tuple

In [13]:

m  = (1, 2)
one,two = m 
print(one,two)

m.append(3)  # immutable 
print(m)

1 2

AttributeError: 'tuple' object has no attribute 'append'

slicing

In [11]:
lis = [1,2,3,4,5,6,7,8,9,10]

print(lis[::-1])
print(lis[::2])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]

In [14]:
lis.reverse()
print(lis)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [17]:
lis.sort()
lis

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
lis = [10, 8, 5, 2]
sort_lis = sorted(lis)

print(sort_lis)
print(lis)

[2, 5, 8, 10]
[10, 8, 5, 2]

In [21]:
lis = [10, 8, 5, 2]
sort_lis = lis.sort()

print(sort_lis)
print(lis)   # this is in place sort

None
[2, 5, 8, 10]

In [28]:
list2d_1 = [[0]*9]*9
print(list2d_1)

[[0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [27]:
[[0] * 9 for _ in range(9)]

[[0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [29]:
a = 1.1 * 3 
b = 3.3 * 1 
print(a,b)

print(a==b)

3.3000000000000003 3.3
False

to see odd or even

In [30]:
num = int(input())
if num & 1 == 0:
    print('even')
    
else: 
    print('odd')

odd

In [36]:
15 & 1

1

together

In [37]:
c = 10 
if c > 5: 
    a =1 
else: 
    a = 2 

print(a)

1

In [40]:
a = 1 if c > 5 else 2 
print(a)

1

In [50]:

i = 0
while i <= 8:
    if i < 4: 
        i += 1
        print(i)
    else: 
        i += 2 
        print(i)
else: 
    print('done')

1
2
3
4
6
8
10
done

In [60]:
t = [i for i in range(10)] 
t

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
s = [ i** 2 for i in t if i % 2 == 0 ]
print(s)

[0, 4, 16, 36, 64]

In [64]:
emp = []
for num in t: 
    if num % 2 == 0: 
        emp.append(num**2)
    else: 
        emp.append(num)

print(emp)

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

In [66]:
se = set()
se.add(1)

print(se)

se.add(2)

print(se)


# if use dic = {} it will be dict

{1}
{1, 2}

scope

In [72]:

def name():
    pet = 5 
    print(pet)

pet = 30     
print(pet)
name()
print(pet)

30
5
30

global local

In [73]:
a = b = c = 1 

def test(b):
    global c 
    a = 2 
    c = 33 
    
    print(a,b,c)
    
print(a,b,c)

In [75]:
test(3)
print(a,b,c)

2 3 33
1 1 33